@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap');

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainBlack: #222;
  --mainTransition: all 0.3 ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor)
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}